* {
  font-family: 'Dosis', sans-serif;
}

form.signup,
form.login {
  margin-top: 50px;
}

body {
  background: linear-gradient(180deg, rgb(89, 131, 146) 50%, rgb(18, 69, 89));
  padding-bottom: 25%;
}

#i4c-dialogs-container {
  background-color: rgb(18, 69, 89);
}

.navbar {
  background-color: rgb(1, 22, 30);
  border-color: rgb(1, 22, 30);
}

.navbarText {
  color: rgb(174, 195, 176);
  margin: 0px, 0px, 4px, 4px;
}

.navbar-default .navbar-nav > li > a {
  color: rgb(174, 195, 176);
  font-size: large;
  margin-top: 14px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: rgb(239, 246, 224); /*Sets the text hover color on navbar*/
}

label {
  color: rgb(239, 246, 224);
}

.signup {
  color: rgb(239, 246, 224);
}

a {
  color: rgb(174, 195, 176);
}

a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: rgb(239, 246, 224); /*Sets the text hover color on navbar*/
}

.container-fluid {
  width: 100%;
}

.col-sm-8 {
  padding-left: 0;
}

p, h3, h5, .date {
  color: rgb(18, 69, 89);
  font-weight: 700;
}

.welcome {
  font-weight: 400;
  color: rgb(239, 246, 224);
}

.comic {
  border-style: solid;
  border-color: rgb(18, 69, 89);
  border-width: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#datepicker {
  margin-top: 16px;
  text-align: center;
}

#dateSelect {
  margin-top: 10px;
  font-size: large;
  text-align: center;
}

.card {
  width: 110%;
  margin-top: 30px;
  background-color: rgba(239, 246, 224, 0.733);
}

.card-title {
  text-align: center;
}

.card-body {
  border-style: solid;
  border-color: rgb(18, 69, 89);
  border-width: 10px;
  margin-bottom: 20%;
}

form {
  padding: 10px;
}

ul {
  list-style: none;
  margin: 10px, 0px, 0px, 5px;
}

.list-group {
  font-size: large;
  margin: 10px, 0px, 0px, 5px;
  padding: 10px;
}

.btn {
  color: rgb(18, 69, 89);
  background-color:  rgb(239, 246, 224);
}

.delButton {
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgb(239, 246, 224);
}
